:root {
    --color-bg: lightgray;
}

body {
    color: gray; /* debug */
}

.flex-wrapper {
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

header .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

header .inner-container div {
    min-height: 80px;
    flex: 1 1 auto;
}

#celle-mancanti-text ,
#punteggio-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

header .face-container img {
    max-height: 75px;
}

#inner-field {
    max-width: 500px;
    margin: auto;
}

/*
#######
M A I N
#######
*/

#inner-field li {
    cursor: pointer;
    color: white;
    width: 50px;
    height: 50px;
    float:left;
    line-height: 50px;
    background-color: lightgray;    
    border: 1px solid white;    
}

#inner-field li.bomb-here {
    background-color: red;
    background-image: url("../img/bomb.png");
    background-size: cover;
}

#inner-field li.not-bomb {
    background-color: green;
}

/*
###########
F O O T E R
###########
*/

footer .inner-container {
    border-top: 1px solid lightgray;
    padding: 20px 0;
}

footer button {
    padding: 15px 25px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
}